<div class="estudios">
    <div class="estudios__container">
        <h2 class="estudios__titulo">Formacion</h2>
        <div class="alura-ap">
            <div class="estudios__alura estudios__card">
                <div class="estudios__imagen"><img src="./assets/alura-color.png" alt="alura latam"></div>
                <div class="estudios__descripcion">
                    <h4 class="estudios__descripcion-titulo">Alura Latam</h4>
                    <p class="estudios__descripcion-fecha">2022</p>
                </div>
            </div>

            <div class="estudios__ap estudios__card">
                <div class="estudios__imagen"><img src="./assets/ap-color.png" alt="argentina programa"></div>
                <div class="estudios__descripcion">
                    <h4 class="estudios__descripcion-titulo">Argentina Programa</h4>
                    <p class="estudios__descripcion-fecha">2021</p>
                </div>
            </div>
        </div>

    </div>
</div>
