.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.menu__logo{
    width: 180px;
}

.menu__lista{
    display: flex;
    justify-content: center;
}

.menu__link{
    list-style: none;
    padding-right:2rem;
}

.menu__lista:first-child{
    padding-left: 2rem;
}

.menu__link a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px){
    .menu{
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        padding: 0;
    }

    .menu__logo{
        width: 130px;
    }
}