<section class="sobre-mi">
    <div class="sobre-mi__imagen">
    </div>
    <div class="sobre-mi__titulo">
        <h2 class="sobre-mi__titulo-nombre">Serena Beaufils</h2>
        <h5 class="sobre-mi__titulo-descripcion">Full Stack developer</h5>
    </div>
    <div class="sobre-mi__descripcion">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquam voluptates, nisi at ipsa quam molestias soluta quo ut blanditiis placeat minima aperiam, consequatur obcaecati excepturi quibusdam. Accusamus, ex dicta!</p>
    </div>
</section>
