<div class="proyectos">
    <h2 class="proyectos__titulo">Proyectos</h2>
    <div class="proyectos__contenedor">
        
        <div class="proyecto__card">
            <div class="proyecto__card--imagen encriptador">
                <img src="./assets/encriptador-recortado.png" alt="">
            </div>
            <div class="proyecto__card--descripcion">
                <h3 class="proyecto__card--descripcion-titulo">Encriptador</h3>
                <p class="proyecto__card--descripcion-texto">Proyecto elaborado para Alura Latam, con html, css y javascript</p>
            </div>
        </div>

        <div class="proyecto__card">
            <div class="proyecto__card--imagen ahorcado">
                <img src="./assets/ahorcado-editado.png" alt="">
            </div>
            <div class="proyecto__card--descripcion">
                <h3 class="proyecto__card--descripcion-titulo">Juego de ahorcado</h3>
                <p class="proyecto__card--descripcion-texto">Proyecto elaborado para Alura Latam, con html, css y javascript</p>
            </div>
        </div>

        <div class="proyecto__card">
            <div class="proyecto__card--imagen clinica">
                <img src="./assets/clinica-editado.png" alt="">
            </div>
            <div class="proyecto__card--descripcion">
                <h3 class="proyecto__card--descripcion-titulo">Clinica Bonna Vitta</h3>
                <p class="proyecto__card--descripcion-texto">Proyecto elaborado para Alura Latam, con html, css y javascript</p>
            </div>
        </div>

        <div class="proyecto__card">
            <div class="proyecto__card--imagen porfolio">
                <img src="./assets/porfolio-editado.png" alt="">
            </div>
            <div class="proyecto__card--descripcion">
                <h3 class="proyecto__card--descripcion-titulo">Porfolio</h3>
                <p class="proyecto__card--descripcion-texto">Proyecto personal de porfolio con html, css y javascript</p>
            </div>
        </div>
    </div>
</div>
