<div class="soft-skills">
    <div class="soft-skills__container">
        <h2 class="soft-skills__titulo">Soft Skills</h2>
        <ul class="soft-skills__lista">
            <li class="soft-skills__item">
                <span class="soft-skills__span">01</span>
                <p class="soft-skills__p">Compromiso</p>
            </li>
            <li class="soft-skills__item">
                <span class="soft-skills__span">02</span>
                <p class="soft-skills__p">Trabajo en equipo</p>
            </li>
            <li class="soft-skills__item">
                <span class="soft-skills__span">03</span>
                <p class="soft-skills__p">Honestidad</p>
            </li>
            <li class="soft-skills__item">
                <span class="soft-skills__span">04</span>
                <p class="soft-skills__p">deseos de aprender</p>
            </li>
            <li class="soft-skills__item">
                <span class="soft-skills__span">05</span>
                <p class="soft-skills__p">atencion al detalle</p>
            </li>
            <li class="soft-skills__item">
                <span class="soft-skills__span">06</span>
                <p class="soft-skills__p">adaptabilidad</p>
            </li>
        </ul>
    </div>
</div>
