<div class="hard-skills">
    <div class="hard-skills__contenedor">

        <p class="hard-skills__titulo h2">Hard Skills </p>

        <div class="skills">
            <div class="skills__detalles">
                <span>HTML</span>
                <span>80%</span>
            </div>
            <div class="skills__menu">
                <div id="html-menu"></div>
            </div>
        </div>

        <div class="skills">
            <div class="skills__detalles">
                <span>CSS</span>
                <span>50%</span>
            </div>
            <div class="skills__menu">
                <div id="css-menu"></div>
            </div>
        </div>

        <div class="skills">
            <div class="skills__detalles">
                <span>JAVASCRIPT</span>
                <span>30%</span>
            </div>
            <div class="skills__menu">
                <div id="js-menu"></div>
            </div>
        </div>

        <div class="skills">
            <div class="skills__detalles">
                <span>ANGULAR</span>
                <span>20%</span>
            </div>
            <div class="skills__menu">
                <div id="angular-menu"></div>
            </div>
        </div>
    </div>
</div>
